/* Reset codes */
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
ol{
    margin-top: 0;
    margin-bottom: 10px;
}
*{
	box-sizing:border-box;
}
body{
	line-height: 23px;
	font-family: 'robotoregular';
}
button:focus{
	outline:0px;
}
a:focus, a:hover{
	text-decoration:none;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
p{
	font-size:16px
}
input:focus,input:active{
    outline: none;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: inherit;
}
.navbar .navbar-toggle {
    border-color: #ddd;
	margin-top: 0px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #ddd;
}