@media only screen and (min-width:1400px) {
	.about-slider-text {
		top: -7%;
		left: 2%;
	}
}
@media only screen and (max-width:1279px) {
	.menu-top li a{
		padding: 20px 0px 10px 35px;
	}
	.menu-top #free-btn {
		padding: 20px 70px 10px 0px;
	}
	.slide {
		padding: 50px 0px 50px;
	}
	.slide-right .bttn {
		margin-bottom: 15px;
	}
	.feature-bottom .panel-default>.panel-heading {
		padding: 15px 20px 15px 5px;
	}
	.testimonial-left {
		padding: 140px 20px 125px 80px;
	}
	.testimonial-content {
		margin-top: 150px;
	}
	.testimonial-left .carousel-indicators li {
		width: 100px;
		height: 100px;
	}
}
@media only screen and (max-width:1024px) {
	.navbar{
		padding: 10px 0px 0px 10px;
	}
	.menu-top li a {
		padding: 20px 0px 10px 20px;
	}
	.slide-right .page-scroll {
		margin-top: 125px;
		margin-left: -60px;
	}
	.video-bottom-marg {
		margin-left: 0px;
	}
	.testimonial-left {
		padding: 80px 10px 80px 30px;
	}
	.carousel-indica {
		margin-top: 40px;
	}
	.testimonial-right {
		height: 700px;
	}
	.slide-left img {
		width:100%;
	}
	.blog{
		margin-top: 62px;
	}
}
@media only screen and (max-width:991px) {
	.navbar {
		padding: 10px 0px 0px 0px;
	}
	.menu-top li a {
		padding: 20px 0px 10px 12px;
		font-size: 13px;
	}
	.menu-top #free-btn {
		padding: 20px 10px 10px 0px;
	}
	.slide-right h1 {
		font-size:40px;
	}
	.slide-right .page-scroll {
		margin-top: 70px;
	}
	.slide-right {
		padding: 110px 0px 0px;
	}
	.about-text {
		margin-bottom:45px;
	}
	.feature-bottom {
		margin-top: 70px;
	}
	.special-bottom {
		padding-left: 30px;
		margin-top: 70px;
	}
	.special-bottom-img {
		height: auto;
		position: static;
	}
	.testimonial-right-marg {
		width: 95%;
		margin: auto;
	}
	.testimonial-right {
		height: 800px;
	}
	.testimonial-right img {
		width: 100%;
		height: 80%;
	}
	.special-bottom-img img {
		position: static;
	}
	.prices-bottom {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-middle .form-inline .form-group {
		margin-bottom: 20px 0px 5px 0px;
		width: 100%;
	}
	.footer-middle .form-inline {
		margin-left: -15px;
	}
	.footer-middle .form-inline .form-group-textarea{
		margin-right:0px
	}
	.bg-image-slider .slide-left img {
		width: 100%;
	}
	.home-bg-slide-items {
		height: 800px;
	}
}
@media only screen and (max-width:767px) {
	.navbar-fixed-top .navbar-collapse {
		max-height: 100%;
		background: #1A1241;
	}
	.menu-top #free-btn {
		padding: 15px 35px 10px 0px;
		margin-left:10px;
	}
	.slide-right .page-scroll {
		margin-left: auto;
		margin-right: auto;
	}
	.about-slide {
		padding-left: 0px;
	}
	.about-slider-text {
		top: -12%;
		left: 20px;
	}
	.about-slider-icon {
		bottom: 50%;
	}
	.about-slider-icon a {
		width: 30px;
		height: 30px;
		margin-bottom: 3px;
	}
	.about-slider-icon .fa {
		padding: 6px 0px;
	}
	.client-bottom-img {
		margin: 0px 60px;
	}
	.testimonial-right {
		height: 620px;
	}
	.testimonial-right-marg {
		width: auto;
		margin-right: -15px;
		margin-left: -15px;
	}
	.footer-top-trial h1 {
		font-size: 40px;
	}
	.menu .navbar-brand{
		margin-left: 15px !important;
	}
	.latest-blog-area{
		max-width: 420px;
		margin-left: auto;
		margin-right: auto;
	}
	.blog{
		margin-top: 60px;
	}
	.blog-comment-content {
		margin-left: 0px;
	}
	.blog-details h2 {
		font-size: 25px;
	}
	.blog-details-tags ul li a {
		margin-left: 3px;
	}
	.blog-details-link {
		float: left;
		margin-top: 15px;
	}
	.blog-details-like {
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.four04-content h2 {
		font-size: 45px;
	}
	.home-bg-slide-items {
		height: 1660px;
	}
}
@media only screen and (max-width:447px) {
	.about-slide .owl-nav{
		width: 210px;
	}
	.about-slider-text {
		top: -13%;
	}
	.client-bottom-img {
		margin: 0px 10px;
	}
	.testimonial-left .carousel-indicators li {
		width: 90px;
		height: 90px;
	}
	.testimonial-left .carousel-indicators .active {
		width: 110px;
		height: 110px;
	}
	.testimonial-right {
		height: 480px;
	}
	.testimonial-left {
		padding: 140px 0px 80px 0px;
	}
	.testimonial-content-icon {
		float: none;
		text-align: center;
		display: block;
		margin: 30px auto;
	}
	.testimonial-content-text {
		padding-left: 0px;
	}
	.testimonial-content {
		margin-top: 120px;
	}
	.carousel-indica {
		margin-left: -30px;
	}
	.prices-bottom {
		width: 100%;
	}
	.footer-middle button {
		right: 6%;
	}
	.blog-details-para p.activv {
		margin: 17px 0px 17px 20px;
	}
	.home-bg-slide-items {
		height: 1360px;
	}
}
@media only screen and (max-width:380px) {
	.about-slider-text {
		top: -20%;
	}
	.about-slider-icon {
		bottom: 35%;
	}
	.about-slider-one {
		width: 100%;
	}
	.about-slider-one img {
		height:100%;
	}
	.about-slider-caption h4 {
		font-size: 15px;
	}
	.screen-bottom .owl-dot {
		margin-bottom: 10px;
	}
	.testimonial-right {
		height: 350px;
	}
	.video-bottom .nav-tabs > li > a {
		padding: 8px 8px;
		margin-left: 2px;
	}
	.footer-top-trial {
		padding: 140px 0px 160px;
	}
}
@media only screen and (max-width:320px) {
	.about-slider-icon {
		bottom: 15%;
	}
	.about-slider-caption h4 {
		font-size: 15px;
	}
	.about-slider-text {
		top: -24%;
	}
	.feature-bottom .panel-default > .panel-heading {
		padding: 15px 30px 15px 10px;
	}
	.panel-heading::before {
		top: 20px;
	}
	.home-bg-slide-items {
		height: 1300px;
	}
}